@model Mekashron.Models.ErrorViewModel

<div class="form-group margin-top1x">
    <div class="row">
        <div class="col-sm-3">
            <div class="panel panel-danger">
                <div class="panel-heading">Authentication failed!</div>
                <div class="panel-body">
                    @Model.ResultMessage
                </div>
            </div>
        </div>
    </div>
</div>